src/VisualStudio/CodeTalk/Connected Services/Drawiz/ImageParsingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://t-pugupt-z230/drawiz/ImageParsingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="ParseImageBytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseImageBytesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseImageBytesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseImageFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="stream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseImageFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseImageFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>